.stamp-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.stamp {
  width: 160px;
  height: 160px;
  border: 5px solid #16a34a;
  border-radius: 50%;
  color: #16a34a;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-15deg);
  opacity: 0.75;
  text-transform: uppercase;
  position: relative;
}

.stamp span {
  position: absolute;
  bottom: 38px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
